/* Global */ 

body{
	color: #000;
	display: block;
	font-family: Josefin Sans, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	text-align: center;
}

/* Global END */


/* Content */ 

.container{
	margin: 10px auto;
	max-width: 1140px;
	text-align: center;
	width: 40%;
	background: #fff;
	border-radius: 4px;
	border: #000;
	box-shadow: 2px 4px 10px #000;
	transition: all .75s ease-in;
	display: block;

 }



 .container:hover{
 	transition: all .75s ease-in;
 	transform: scale(1.1, 1.1);
 }

.poem-data{
	padding: 5px 30px 5px 30px;
}

.poem-title{
	font-size: 35px;
}

.poem-author{
	font-style: italic; 
}

.poem-content{
	padding: 20px;
}

/* Poem content END */


/* Footer */

.page-footer{
	text-align: center;
	margin: 20px 10px;

}

.more-poems{
	display: block;
	border: 1px solid #000;
	background-color: #3A3636;
	color: white;
	width: 40%;
	margin: 0 auto;
	padding: 10px 0;
	box-shadow: 2px 4px 10px #000;
	text-decoration: none;
	transition: .75s ease-in;
}

.more-poems:hover{
	background-color: #878787;
	text-decoration: none;
	color: black;
	transition: all .75s ease-in;
	transform: scale(1.1, 1.1);
}

.more-poems:focus{
	background-color: #878787;
	text-decoration: none;
	color: black;
	transition: all .75s ease-in;
	transform: scale(1.1, 1.1);
}
.more-poems:active{
	box-shadow: 4px #ffffff;
}

/* Footer END */ 